// Smaller mobile phones
@media (max-width: 21.625em) {

    .landing-menu {
        h2 {
            font-size: 19px;
        }

        h4 {
            font-size: 14px;
        }
    }

}

// Tablet
@media (min-width: 30em) {
.footer-shop {
    .footer-shop-child:first-child {
        text-align: center;
    }
}

  .intro {
    background-position: 90% 50%;

    .intro-wrapper {
      width: 70vw;
      margin-bottom: 70px;

      p {
        font-size: 16px !important;
      }

      strong {
          font-size: 24px;
      }
    }

    
  }

  .landing-menu {
    gap: 5vh;
    margin: 5vh auto;

    button {
      width: 70vw;
    }
  }

  .title-left {
    margin: 20px 30px;
  }

  .menu-card a {
    padding: 0 30px;
  }

  .menu-card {
    .menu-img-wrapper {
      height: 180px;
    }
  }

  .selected-page, .selected-options, .special-instructions, .common-pairings-section, .add-cart {
    margin: 20px 30px;
}

.add-cart {
    margin-bottom: 70px;
}

#modal{
    bottom: 45%;
    left: 200px;
    right: 200px;
}

// end tag of media query
}


